name: Pull request to dev/hotfix branch - regression tests & build:pre

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - dev
      - hotfix

jobs:
  pr:
    name: "Pull request"
    uses: ./.github/workflows/shared.yml
    secrets: inherit
    with:
      environment: pre
